@import "./variables";
@import "movie-card";
@import "recommendation-card";
@import "recommendations-landing";

button {
    &.primary {
        span {
            &.v-btn__content {
                color: black !important;
            }
        }
    }
}

.v-app-bar {
    &.v-app-bar--fixed {
        z-index: 100000;
    }
}

    // SCROLLBAR NAVIGATION //
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: (@color-black + 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: @color-light-gray;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: @color-light-gray;
}

.v-alert {
    padding: 10px;
}

.confirmation-btn__text {
    white-space: pre-line;
    padding-top: 15px !important;
}