#movie-card {
  .v-overlay__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .movie-title {
    font-weight: bold;
    font-size: 20px;
  }

  .movie-image {
    border-radius: 10px;
  }
}